@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    background: url(images/eagle.png) no-repeat;
    background-size: cover;
    position: relative;
}

.main::before {
    position: absolute;
    content: "";
    background: linear-gradient(rgba(233, 130, 131, 0.9),rgba(237, 215, 137, 0.9));
    height: 100%;
    width: 100%;
    z-index: 1;
}

.header {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 42px 170px 0;
}

.navigation {
    margin-left: auto;
}

.navigation ul {
    display: flex;
    list-style: none;
    gap: 75px;
}

.navigation ul li {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.navigation ul li:first-of-type {
    color: #F4BF87;
    border-bottom: 1px solid #F4BF87;
    width: 85px;
    text-align: center;
}

.main-wrapper {
    height: 100vh;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.main-title-one {
    font-family: 'Kaushan Script', sans-serif;   
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-top: 177px;
}

.main-title-two {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 44px;
}

.main-line {
    width: 170px;
    height: 1px;
    border-bottom: 4px solid #fff;
    margin-bottom: 70px;
}

.main-button-style {
    height: 77px;
    width: 369px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: 4px solid #fff;
    margin-bottom: 116px;
}

.main-menu {
    display: flex;
}

.menu{
    padding-right: 30px;
}

.menu-line {
    width: 270px;
    height: 1px;
    border-bottom: 4px solid #F9EFCF;
}

.menu-text {
    display: flex;
}

.menu-text-number {
    margin-right: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    color: #F9EFCF;
}

.menu-text-word {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #F9EFCF;
    text-transform: uppercase;
    align-self: flex-end;
}

.story {
    height: 1100px;
    width: 100%;
}

.story-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-one {
    font-family: 'Kaushan Script', sans-serif;   
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    margin: 70px 0 40px 0;
    color: #2D3033;
}

.title-two h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #2D3033;
}

.line {
    width: 170px;
    height: 1px;
    border-bottom: 4px solid #F38281;
    margin-bottom: 35px;
}

.story-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 1170px;
    margin-bottom: 90px;
}

.story-image-wrapper {
    display: flex;
    gap: 30px;
    margin-bottom: 108px;
}

.image-one {
    height: 338px;
    width: 370px;
    background-color: #95E1D3;
    position: relative;
}

.image-one::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: "super team";
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(rgba(233, 130, 131, 0.9),rgba(237, 215, 137, 0.9));
    height: 338px;
    width: 370px;
    bottom: 16px;
    right: 16px;
    z-index: 1;
}

.story-block-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: #95E1D3;
    margin-bottom: 60px;
}

.story-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 234px;
    border-right: 0.5px solid #fff;
}

.block-number p {
    font-family: 'Raleway', sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.block-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.block-side {
    width: 170px;
    background-color: #95E1D3;
    border-right: 0.5px solid #fff;
}

.services {
    height: 820px;
    width: 100%;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-row-one {
    display: flex;
    justify-content: center;
    gap: 110px;
    margin-bottom: 140px;
    margin-top: 75px;
}

.services-row-two {
    display: flex;
    gap: 110px;
}

.content-title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #2D3033;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.content-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #2D3033;
    width: 270px;
}

.design {
    height: 868px;
    width: 100%;
    background: url(/images/design-back.png) no-repeat;
    background-size: cover;
    position: relative;
}

.design::before {
    position: absolute;
    content: "";
    background: url(/images/design-cover.png) no-repeat;
    height: 869px;
    width: 100%;
    z-index: 1;
}

.design-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.design-computer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 15;
}

.computer-back {
    margin-top: 30px;
    position: relative;
    z-index: 15;
}

.computer {
    position: absolute;
    z-index: 18;
    top: 10px;
}

.phone-back {
    position: relative;
    top: -300px;
    right: -300px;
    z-index: 20;
}

.phone {
    position: absolute;
    top: 495px;
    right: 357px;
    z-index: 25;
}

.we-do {
    height: 1255px;
    width: 100%;
}

.we-do-wrapper {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.we-do-content {
    display: flex;
    gap: 30px;
}

.content-column {
    display: flex;
    flex-direction: column;
    width: 570px;
    gap: 20px;
}

.column-item:first-child {
    width: 570px;
    height: 255px;
    border: 1px solid #C6CBCD;
}

.column-item {
    width: 570px;
    height: 92px;
    border: 1px solid #C6CBCD;
    border-collapse: collapse;
}

.item-title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding: 30px 100px;
}

.item-title-selected {
    border: 1px solid #C6CBCD;
    border-collapse: collapse;
}

.item-text {
    padding: 10px 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #2D3033;
    overflow-y: scroll;
    height: 155px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: #95E1D3;
}

.we-do-comment {
    width: 100%;
    height: 255px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-top: 45px;
}

.comment-image {
    height: 170px;
    width: 170px;
    border: 2px solid #95E1D3;
}

.comment-content {
    width: 770px;
    padding-top: 10px;
}

.comment-content-text {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    text-align: left;
    color: #A9AFB1;
    margin-bottom: 20px;
    
}

.comment-content-sign {
    display: flex;
    height: 55px;
    align-items: center;
    gap: 50px;
}

.comment-content-line {
    width: 70px;
    height: 1px;
    border-bottom: 4px solid #F38281;
}

.comment-content-name {
    font-family: 'Kaushan Script', sans-serif;   
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}

.team {
    height: 1300px;
    width: 100%;
}

.team-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.team-image-wrapper {
    display: flex;
    gap: 30px;
    margin-bottom: 45px;
}

.team-image-one {
    position: relative;
}

.team-image-one::before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: linear-gradient(rgba(233, 130, 131, 0.9),rgba(237, 215, 137, 0.9));
    height: 424px;
    width: 370px;
    top: -16px;
    right: 16px;
    z-index: 1;
}

.team-name-wrapper {
    display: flex;
    width: 1220px;
}

.team-name {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
    margin: 35px 0;
}

.team-prof {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
    margin-bottom: 84px;
}

.team-icons-line {
    width: 100%;
    height: 211px;
    background-color: #F8F8F8;
}